<template>
  <router-link
    :to="to"
    v-bind="$attrs"
    :active-class="activeClass"
    class="page-link"
  >
    <slot />
  </router-link>
</template>
<script src="./AppLink.js"></script>
<style src="./AppLink.scss" lang="scss" scoped></style>
